input[type='file'] {
    display: none
  }

#avatar-label {
    display: flex;
    justify-content: center;
}

#avatar-img {
    cursor: pointer;

    width: 256px;
    height: 256px;
    border-radius: 100%;
}
